<launch>
  <node name="odom_sync" pkg="turtlebot_IMU_integration" type="odomsync.py"/>
  <!--node name="command" pkg="turtlebot_IMU_integration" type="command.py"/-->
  <node name="euler_pub" pkg="turtlebot_IMU_integration" type="publisheuler.py"/>
  <node name="trajectory" pkg="turtlebot_IMU_integration" type="trajectory.py"/>
  <!--include file="$(find turtlebot_IMU_integration)/launch/my_ekf.launch"/-->
</launch>
